<h1 class="d-flex justify-content-center m-2" >Login page</h1>

<form class="mb-3" action="/user/login" method="POST" >
    {{> authInner }}
</form>

<div>
    {{#each errors}}
        <div class="alert alert-danger" >{{this}}</div>
    {{/each}}
</div>