<h1 class="d-flex justify-content-center m-2" >Register page</h1>

<form class="mb-3" action="/user/register" method="POST" >
    {{> authInner}}
</form>

<div>
    {{#if success}}
        <div class="alert alert-success">{{success}}</div>
    {{else}}
        {{#each errors}}
            <div class="alert alert-danger" >{{this}}</div>
        {{/each}}
    {{/if}}
</div>